page {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: url("https://cdn.nlark.com/yuque/0/2021/png/164272/1616308685907-82fee012-3514-43ea-b8ce-578bbbb53273.png?x-oss-process=image%2Fresize%2Cw_1274") no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;

    span {
        width: 480rpx;
        height: 120rpx;
        background: #FFF270;
        box-shadow: 0 4rpx 16rpx 0 rgba(211, 113, 68, 0.24);
        border-radius: 16rpx;
        display: block;
        position: absolute;
        bottom: 79rpx;
        left: 50%;
        margin-left: -240rpx;
        font-family: PingFangSC-Semibold;
        font-size: 40rpx;
        color: #8385F4;
        letter-spacing: 0;
        text-align: center;
        line-height: 120rpx;
    }
}